.Container{
    width: 100%;
    margin-bottom: 80px;
    overflow: hidden;
}


.aboutContainer{
    width: 90%;
    margin: auto;
}

.upperText{
    margin-bottom: 40px;
    padding-top: 60px;
}
.upperText>p{
    font-size: 1.2rem;
    line-height: 2rem;
}

.goal{
    margin-bottom: 40px;
}

.goal>h3{
    margin-bottom: 10px;
}

.goal>li{
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 2rem;
    letter-spacing: 0.015em;
    color: #1E1E1E;
    margin-left: -1rem;
}

.value{
    margin-bottom: 40px;
}

.value>h3 span{
    font-size: 1.2rem;
    font-weight: normal;
 }

.vision{
    margin-bottom: 40px;
}

.vision>h3 span{
   font-size: 1.2rem;
   font-weight: normal;
}

.target>h3{
    margin-bottom: 10px;
}

.target>p{
    line-height: 2rem;
    font-size: 1.2rem;
}

.ServiceHero{
    width: 100%;
    height: 100vh;
    position: relative;
    color: #fff;
}
.overlay{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.ServiceHero img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index:-1;
}
.content{
    position: absolute;
    top:8%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    padding:1rem;
    z-index: 1;
}
.content p{
     margin-top:1rem;
}

@media screen and (max-width: 425px){
    .Container{
        padding-top: 70px;
    }

    .text>p{
        font-size: 0.8em;
        padding-top: 5px;
    }

    .text>h1{
        font-size: 1.7em;
    }
}