.main{
    width: 100%;
    padding-top: 8.25rem;
    margin-bottom: 9.375rem;
}

.innerContainer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.main>h2{
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
}


.card{
    margin: auto;
    padding: 20px;
    margin: 20px;
    background: #FFFFFF;
    border: 3px solid #146E24;
    box-shadow: 0px 12px 24px rgba(255, 167, 55, 0.06);
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}

.innerCard>p{
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.3rem;
}

.image>img{
    padding-top: 40px;
    width: 90px;
    margin: auto;
}

@media screen and (max-width: 425px){
    .main>h2{
        font-size: 1.2rem;
    }
    .innerCard>p{
        font-size: 0.8rem;
    }

}