.Ourservicesimg1{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:2rem;
    
}
.Ourservicesimg{
    width: 100%;
    background: #fff;
    padding: 3rem ;
   
    
}

@media (max-width: 940px){
    .Ourservicesimg1{
        
        grid-template-columns: 1fr;
        
        
    }
}

