.Corevalueimg{
    width: 100%;
   
  
    align-items: center;
    justify-content: center;
    text-align: center;

}
.Corevalueimg1 img{
    width: 10%;
    margin-top: 3rem;
}

.Corevalueimg1 h3{
    color: var(--primary);
    margin: 1rem auto;
}
.Corevalueimg1{
     border-radius: 24px;
    box-shadow:   0px 10px 60px rgba(38, 45, 118, 0.09);
    background-color:white; 
    height:22rem;
    width:100%;
}
.Corevalueimg1:hover{
    background: var(--primary);
    cursor: pointer;
}
.Corevalueimg1:hover img{
    filter:brightness(6)
}
.Corevalueimg1:hover h3{
    color:var(--secondary);
}
.Corevalueimg1 p{
    color:  #B3B3B3;
    margin: 0 auto;
    width: 90%;
    line-height:35px ;
    
}
@media (max-width: 580px){
    
    .Corevalueimg1 p{
        color:  #B3B3B3;
        margin: 0 auto;
        width: 90%;
        line-height:30px ;
        
    }
    
}

